<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mapper.DynamicMapper">

    <insert id="save" parameterType="DynamicDao">
        insert into dynamic(id, userId, time, context)
        values (#{id}, #{userId}, #{time}, #{context})
    </insert>

    <delete id="deleteById">
        delete from dynamic where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.shiyi.dao.DynamicDao">
        select * from dynamic order by time desc
    </select>

    <select id="selectByUserId" resultType="com.shiyi.dao.DynamicDao">
        select * from dynamic where userId = #{userId} order by time desc
    </select>

    <select id="selectUserIdById" resultType="java.lang.String">
        select userId from dynamic where id = #{id}
    </select>

</mapper>