<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mapper.LabelMapper">

    <insert id="saveByPoetry">
        insert into label(name, poetryId)
        values (#{param1}, #{param2})

    </insert>

    <select id="findLabelByName" resultType="java.lang.String">
        select poetryId from label where name = #{name}
    </select>

    <select id="findLabelById" resultType="java.lang.String">
        select name from label where poetryId = #{id} or verseId = #{id}
    </select>
</mapper>