<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mapper.PoetryMapper">
    <insert id="save" parameterType="com.shiyi.dao.PoetryDao">
        insert into poetry(id, name, dynasty, authorId)
        values (#{id}, #{name}, #{dynasty}, #{authorId})
    </insert>

    <insert id="save2">
        insert into poetry(id, name, dynasty, authorId)
        values (#{param1}, #{param2}, #{param3}, #{param4})
    </insert>

    <select id="findById" resultType="com.shiyi.dao.PoetryDao">
        select poetry.*, author.name as authorName
        from poetry, author where poetry.id = #{id} and poetry.authorId = author.id
    </select>

    <select id="findByName" resultType="com.shiyi.dao.PoetryDao">
    select poetry.id, poetry.name, poetry.dynasty, author.name as authorName
        from poetry, author where poetry.name = #{name} and poetry.authorId = author.id
    </select>

    <select id="findByLabel" resultType="com.shiyi.dao.PoetryDao">
        select poetry.id, poetry.name, poetry.dynasty, author.name as authorName
    from poetry, author where poetry.authorId = author.id and
    poetry.id in (select poetryId from label where name = #{label})
    </select>

    <select id="findByAuthorId" resultType="com.shiyi.dao.PoetryDao">
        select poetry.id, poetry.name, poetry.dynasty, author.name as authorName
        from poetry, author where poetry.authorId = #{id} and poetry.authorId = author.id
    </select>

    <select id="findByAuthorName" resultType="com.shiyi.dao.PoetryDao">
        select poetry.id, poetry.name, poetry.dynasty, author.name as authorName
        from poetry, author where author.name = #{name} and poetry.authorId = author.id
    </select>

    <select id="isById" resultType="java.lang.Boolean">
        select id from poetry where id = #{id}
    </select>
    <select id="isPoetry" resultType="java.lang.Boolean">
        select id from poetry where name = #{param1} and dynasty = #{param2}
    </select>


</mapper>