<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mapper.TextBookMapper">

    <insert id="save">
        insert into textbook(id, name, img, type) values(#{dao.id}, #{dao.name}, #{dao.img}, #{dao.type})
    </insert>

    <select id="findAll" resultType="com.shiyi.dao.TextBookDao">
        select * from textbook
    </select>

    <select id="findByType" resultType="com.shiyi.dao.TextBookDao">
        select * from textbook where type = #{type}
    </select>

</mapper>